.expense-item {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: gray;
  padding: 12px 18px;
  margin: 10px 0;
  border-radius: 10px;

  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);

  font-family: Arial, sans-serif;
}

.expense-item__description h2 {
  margin: 0;
  font-size: 1.2rem;
  color: #333;
}

.expense-item__amount {
  background-color: goldenrod;
  color: white;
  padding: 8px 14px;
  border-radius: 8px;
  font-weight: bold;
  font-size: 1rem;
}
